.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--bg-color);
  font-size: 4rem;
  color: var(--text-color-3);
  z-index: 9999;
}

.spinner {
  width: 200px;
  height: 200px;
  border: 10px solid var(--text-color-3);
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: 0.5s spinner ease-in-out infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}