.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-dark);
  border-radius: 10px;
  max-width: 80ch;
  min-width: 80ch;
  border: 2px solid var(--outline-color);
}

.title {
  color: var(--text-color-2);
  font-size: 1.5rem;
  border-bottom: 2px solid var(--outline-color);
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.container p {
  color: var(--text-color-3);
  font-size: 1.2rem;
  padding: 1rem;
}

.container a {
  color: var(--text-color-3);
  transition: var(--transition);
  border-bottom: 1px dotted var(--text-color-3);
}

.container a:hover {
  opacity: 0.5;
}